.background {
  background-color: rgba(27, 27, 27, 1);
  background-image: linear-gradient(100deg, rgba(27, 27, 27, 1) 0%, rgba(0, 49, 83, 1) 100%);
}

.title {
  color: white;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Caprasimo", serif;
  line-height: 1.5;
  padding-top: 100px;
  padding-bottom: 50px;
}

.description {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 996px) {
  .title {
    font-size: 3rem;
  }
}

.cardsAll {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  background-color: white;
  color: black;
  border-radius: 1px 15px 15px 15px;
  padding: 10px 12px;
  max-width: 310px;
  max-height: 520px;
  text-align: center;
}

.link {
  --ifm-link-color: black;
  --ifm-link-hover-color: white;
}

.link:hover {
  text-decoration: none;
}

.card:hover {
  color: white;
  text-decoration: none;
}

.effect:hover {
  background-color: #013153;
  color: white;
  border: 1px solid #9C9C9C;
}

.iconLI {
  mask: url(/img/icons/linkedin.svg);
  mask-size: cover;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: black;
}

.iconLI:hover {
  background-color: white;
  cursor: pointer;
}

.cardName {
  font-weight: 800;
  padding: 30px;
}

.cardSocials {
  padding-top: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 100px 0;
}

/* Subpage */

.spacing {
  padding-top: 50px;
  padding-bottom: 150px;
}

.titleSubpage {
  font-family: "Caprasimo", serif;
  font-size: 2rem;
  padding-top: 100px;
}