.background {
  background-color: rgba(27, 27, 27, 1);
  background-image: linear-gradient(100deg, rgba(27, 27, 27, 1) 0%, rgba(0, 49, 83, 1) 100%);
}

.title {
  color: white;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Caprasimo", serif;
  line-height: 1.5;
  padding-top: 100px;
  padding-bottom: 50px;
}

.description {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 996px) {
  .title {
    font-size: 3rem;
  }
}

.cardsAll {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.card {
  background-color: white;
  color: black;
  border-radius: 1px 15px 15px 15px;
  padding: 10px;
  max-width: 300px;
  max-height: 510px;
  text-align: center;
}

.cardName {
  font-weight: 800;
  padding: 30px;
}

.cardSocials {
  padding-top: 30px;
}