.background {
  background-color: #101010;
}

.title {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: "Caprasimo", serif;
  font-size: 3rem;
  text-align: center;
  color: white;
}

.cardsAll {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 150px;
}

.card {
  background-color: white;
  border-radius: 1px 15px 15px 15px;
  padding: 30px 25px;
  max-width: 290px;
  text-align: left;
  color: black;
  font-family: "Roboto Slab", serif;
}

.icon {
  font-size: 3rem;
}

.cardTitle {
  font-size: 1.8rem;
  font-weight: 800;
  padding: 10px 0;
}

.description {
  font-size: 1.1rem;
}