.background {
  background-color: rgba(27, 27, 27, 1);
  background-image: linear-gradient(100deg, rgba(27, 27, 27, 1) 0%, rgba(0, 49, 83, 1) 100%);
}

.title {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: "Caprasimo", serif;
  font-size: 3rem;
  text-align: center;
  color: white;
}

.cardsAll {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 150px;
}

.card {
  background-color: white;
  border-radius: 1px 15px 15px 15px;
  padding: 30px 25px;
  max-width: 290px;
  text-align: left;
  color: black;
  font-weight: 300;
}

.icon {
  font-size: 3rem;
}

.cardTitle {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
  font-family: "Roboto Slab", serif;
}

.description {
  font-size: 16px;
}