.background {
  background-color: #F1F1F1;
}

.centerImgs {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  gap: 50px;
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.image {
  max-width: 180px;
}

.title {
  color: black;
  text-align: center;
  font-size: 2rem;
  font-family: "Caprasimo", serif;
  padding: 100px 0;
}

@media only screen and (max-width: 996px) {
  .centerImgs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
}