.background {
  background-color: #F1F1F1;
}

.centerImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  gap: 50px;
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.image {
  max-width: 180px;
}

.title {
  color: black;
  text-align: center;
  font-size: 3rem;
  font-family: "Caprasimo", serif;
  padding: 100px 0;
}