.background {
  background-color: #F1F1F1;
  color: black;
  text-align: center;
  padding-bottom: 100px;
}

.title {
  font-family: "Caprasimo", serif;
  font-size: 3rem;
  padding-top: 100px;
  padding-bottom: 50px;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding-top: 100px;
}

.image {
  width: 500px;
  max-width: 100%;
}

@media only screen and (max-width: 996px) {
  .title {
    font-size: 3rem;
  }
}